#area-mensagem {
    border: lpx solid hsla(210, 87%, 46%, 0.57);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    /*padding: 5px 5px 5px 5px */
    
}

